body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/background.jpg'); /* Caminho da imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quiz-container {
    width: 300px;
    text-align: center;
    background-image: url('images/container-background.jpg'); /* Caminho da imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; /* Adiciona espaço interno */
    border-radius: 10px; /* Adiciona cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destaque */
}

.btn {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
}

.btn:hover, .btn:focus {
    background-color: #f0f0f0;
    outline: none;
    box-shadow: 0 0 0 2px #4caf50;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.next-btn {
    background-color: #4caf50;
    color: white;
}

.hide {
    display: none;
}

#result {
    margin-top: 10px;
}

.correct {
    background-color: #4caf50;
    color: white;
}

.wrong {
    background-color: #f44336;
    color: white;
}

#question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

