.correct {
    background-color: #4caf50;
    color: white;
}

.wrong {
    background-color: #f44336;
    color: white;
}

#result {
    margin-top: 10px;
    font-size: 1.2rem;
}

#score-container {
    text-align: center;
    margin-top: 20px;
}

.correct {
    background-color: #4caf50;
    color: white;
}
#result img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}
